* {
    border: 1px solid black;
}

body{
    background-color: #DC3545;
}

.login_section{
    display: flex;
    height: 60%;
    width: 70%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.login_icon{
    height: 20%;
    width: 20%;
}

.login_bg_image{
    width: 60%;
}

.bg_image{
    width: 100%;
}

h1, h2{
    text-align: center;
}

footer{
    display: flex;  
}

p{
    display: flex;
}