@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

.header_bar{
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.header_bar h1{
    color:#F14764;
}

.header_bar nav{
    margin-left: auto;
    margin-right: 2em;
}

.header_bar a{
    color: black;
    padding: 2em;
}

.header_bar a:hover{
    color: #F14764;
}

.banner img {
    width: 100%;
    /* height: auto; */
}

footer {
    background-color: rgb(217, 217, 217);
    display: flex;
    margin-top: 1em;
}

footer p {
    text-indent: 2em;
}
